*{
    margin: 0px;
    padding: 0;

}


header{
    display:flex;
    background-color: #f8f9f9;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    position: sticky;
    height: 10%;
}

header h1{
	font:normal 1.7em Verdana, Geneva, sans-serif;  /*2.4em multiplica el tamaño de la letra*/
	margin:0px;
	padding:25px 0px 25px 0px;
	color:#174D4d;
    text-align: center;	
}

.nuestros-servicios{
	font:normal 1.7em Verdana, Geneva, sans-serif;  /*2.4em multiplica el tamaño de la letra*/
	margin:0px;
	padding:25px 0px 25px 0px;
	color:#174D4d;
    text-align: center;	
}

.logo-oculto{
    display: none;
}

nav{
    background-color: #f8f9f9;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

nav ul li{
    list-style-type: none;
    background-color: #f8f9f9;
    color:#03363d;
    font: bold 14px verdana, sans-serif;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color:#03363d;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: #03363d;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 1s;
}

nav ul li a:hover::before{
    width: 100%;
}

.eslogan{
    font: oblique 1.2em verdana, sans-serif;
    color:#03363d;
    text-align: center;
    background-color: #FFFFFF;
    background:-webkit-linear-gradient(top,#94b1b1, #f8f9f9 10%);
    padding-top: 100px;
    margin: auto;
}

.eslogan p{
    padding-top: 50px;
    padding-bottom: 100px;
}

.img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;

}

.servicios{
    background:-webkit-linear-gradient(top,#94b1b1, #f8f9f9 10%);
    padding: 50px 50px;

}

.servicios h1{
    font: bold 3em verdana, sans-serif;
    text-align: center;
    color:#03363d;
    padding: 10px 10px;
}

.servicios h3{
    font: bold 1,75em verdana, sans-serif;
    text-align: center;
    color:#03363d;
    padding: 10px 10px;
}

.servicios p, u, ul li{
    font: normal 0,9em verdana, sans-serif;
    text-align:justify;
    color:#03363d;
    padding: 10px 10px;
}

.items li{
    font: normal 0,9em verdana, sans-serif;

}

.table__container table, .table__mobile table{
    font:normal 1,5em arial;
    color:#03363d;
    text-align: center;
    background-color: #FFFFFF;
    margin: auto;
    width: 90%;
}

.table__mobile{
    display: none;
}

.integridad{
    display: flex;
    flex-direction: column;
}

.img__integridad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img1 img2" "txt1 txt2";
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    justify-items: center;
    align-items: center;
    height: 230px;
    padding: 20px;
    
}

.img__integridad p{
    font: oblique verdana, sans-serif;
    color: black;
}


.img1{
    grid-area: img1;
    display: flex;
    justify-content: center;
}

.img2{
    grid-area: img2;
    display: flex;
    justify-content: center;
}

.txt1{
    grid-area: txt1;
    display: flex;
    justify-content: center;
}

.txt2{
    grid-area: txt2;
    display: flex;
    justify-content: center;
}

.imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    padding: 10px;
}

.imgs p{
    font: oblique verdana, sans-serif;
    color: black;
}

.img__conteos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img3" "img4";
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    justify-items: center;
    align-items: center;
    padding: 15px;
    
}

.img__conteos figure{
    display: flex;
    justify-content: center;
}

.img3{
    grid-area: img3;
    display: flex;
    justify-content: center;
}

.img4{
    grid-area: img4;
    display: flex;
    justify-items: center;
}

.txt3{
    grid-area: txt3;
    display: flex;
    justify-content: center;
    font: oblique verdana, sans-serif;
    color: black;
}

.img__conteos p{
    font: oblique verdana, sans-serif;
    color: black;
}

.sub-servicios{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub-servicios p{
    width: 50%;
    font-family: 2em;
}

.sub-servicios-a{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub-servicios-a p{
    width: 50%;
    font-family: 2em;
}

.sub-servicios-b{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub-servicios-b p{
    width: 50%;
    font-family: 2em;
}

.sub-servicios-b ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicios__conteos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.calificacion{
    width: 100%;
    display: block;
    color:#03363d;
}

footer{
    clear: both;
    background-color: #03363d;
    background:-webkit-linear-gradient(top, #f8f9f9,#03363d 15%);
    color: white;
    padding-top: 40px;
}

.final-pag1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.tecno{ 
    font: normal 12px arial, verdana, sans-serif;
    text-align: left; 
    width: 33%;
}

.tecno h2{
    text-align: center;
}

.tecno p{
    padding: 20px 20px;
}

.cumplimiento{
    font: normal 12px arial, verdana, sans-serif;
    text-align: left; 
    border: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cumplimiento h2{
    text-align: center;
}

/*GRID*/

.cumplir{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,5fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    grid-template-areas: 
        "iso anmat"
        "iso__img anmat__img"
        "eu eu"
        "eu__img eu__img";
}

.iso{
    grid-area: iso;
    font: bold 15px arial, verdana, sans-serif;
    display: flex;
    justify-content: center;
}
.anmat{
    grid-area: anmat;
    font: bold 15px arial, verdana, sans-serif;
    display: flex;
    justify-content: center;
}
.eu{
    grid-area: eu;
    font: bold 15px arial, verdana, sans-serif;
    display: flex;
    justify-content: center;
}
.iso__img{
    grid-area: iso__img;
    display: flex;
    justify-content: center;
}
.anmat__img{
    grid-area: anmat__img;
    display: flex;
    justify-content: center;
}
.eu__img{
    grid-area: eu__img;
    display: flex;
    justify-content: center;
}


.contacto ul, li{
    font: normal 12px arial, verdana, sans-serif;
    text-align: left; 
    border: 5px;
    color: white;
}

.contacto h2{
    text-align: center;
}

.contacto li{
    color: white;
    list-style-type: none;
}

.localizacion{
    height: 1200px;
}

.final-pag2{
    background-color: #03363d;
    color:white;
    font: normal 0,5em arial;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-arriba{
    background-color:#94b1b1;
    color:#03363d;
    font: bold 1em Verdana;
    padding: 10px 10px;
    border-radius: 15px;
    border:3px solid #FFFFFF;  
    text-decoration: none;
    text-align: center;
}

/*RESPONSIVE*/

/*INDEX*/

@media screen and (max-width:590px) {
    .table__container{
        display: none;  
    }

    .table__mobile{
        display: block;
        justify-content: center;
    }
}


@media screen and (max-width:480px) {
    .logo-visto{
        display: none;
    }

    .logo-oculto{
        display: block;
        padding-top: 15px;
    }

    header{
        flex-direction: column;
    }

    nav{
        justify-content: space-around;
    }

    nav ul{ 
        justify-content: space-around;
        align-items: center;
    }

    nav ul li{
        font-size: 10px;
    }

    .eslogan{
        font: oblique 1.2em verdana, sans-serif;
        font-size: 0.9em;
        padding-top: 50px;
    }
    
    .eslogan p{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .servicios h1{
        font-size: 1.5em;
    }
    
    .servicios h3{
        font-size: 1.1em ;
    }

    .table__container{
        display: none;  
    }

    .table__mobile{
        display: block;
        justify-content: center;
    }



    .final-pag1{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    .tecno{ 
        text-align: center; 
        width: 100%;
    }

    .contacto{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .contacto ul li{
        text-align: center;
    }

    .final-pag2{
        justify-content: space-around;
    }

/*QUIENES SOMOS*/

    
    .sub-servicios, .sub-servicios-a, .sub-servicios-b{
        flex-direction: column;
        gap: 30px;
        padding-top: 15px;
    }

    .sub-servicios p, .sub-servicios-a p, .sub-servicios-b p{
        width: 100%;
    }

    .sub-servicios-a{
        flex-direction: column-reverse;
        gap: 15px;
    }

    .servicios h3{
        padding-top: 40px;
    }
    .sub-servicios-b ul li{
        padding: 5px;
    }

/*NUESTROS SERVICIOS*/

    .img__integridad{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "img1" "txtq" "img2" "txt2";
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        justify-items: center;
        align-items: center;
        height: 480px;
        padding: 20px;
        
    }

/*PRINCIPALES CLIENTES*/

    .clientes{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

/*CLIENTES*/ /*ES CONTACTOS*/

    .contactos{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .contactos h3{
        padding-top: 0;
    }

    .localizacion{
        width: 95%;
        height: 90%;
    }

}
