* {
  margin: 0px;
  padding: 0;
}

/*MAPA*/
/*MIXINS*/
header {
  display: flex;
  justify-content: space-evenly;
  background-color: #f8f9f9;
  flex-direction: row;
  align-items: center;
  position: sticky;
  height: 10%;
}
header h1 {
  font: normal 1.7em Verdana;
  margin: 0;
  padding: 25px 0 25px 0;
  color: #174D4d;
  text-align: center;
}

.nuestros-servicios {
  font: normal 1.7em Verdana;
  margin: 0px;
  padding: 25px 0px 25px 0px;
  color: #03363d;
  text-align: center;
}

.logo-oculto {
  display: none;
}

.logo-visto {
  padding-top: 15px;
}

nav {
  background-color: #f8f9f9;
  padding-top: 15px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
nav ul li {
  list-style-type: none;
  background-color: #f8f9f9;
  color: #03363d;
  font: bold 14px Verdana;
  position: relative;
  padding: 10px 10px;
}
nav ul li a {
  text-decoration: none;
  color: #03363d;
}
nav ul li a::before {
  display: block;
  content: "";
  width: 0%;
  background: #03363d;
  height: 5px;
  top: 0;
  position: absolute;
  transition: width 1s;
}
nav ul li a:hover::before {
  width: 100%;
}

.menu_hambur {
  display: none;
}
.menu_hambur nav {
  list-style-type: none;
  background-color: #f8f9f9;
  color: #03363d;
  font: bold 14px Verdana;
  position: relative;
}

.container-fluid {
  gap: 15px;
}

#subir__arriba {
  width: 45px;
  height: 45px;
  background: #94b1b1;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: fixed;
  cursor: pointer;
  display: none;
  bottom: 1%;
  right: 1%;
}

html {
  scroll-behavior: smooth;
}

#subir__arriba:hover {
  background: rgb(0, 26, 36);
  background: linear-gradient(50deg, rgb(0, 26, 36) 0%, rgba(9, 47, 121, 0.1993172269) 28%, rgb(0, 212, 255) 100%);
  color: white;
}

.eslogan {
  font: oblique 1.2em Verdana;
  color: #03363d;
  text-align: center;
  background-color: #FFFFFF;
  background: -webkit-linear-gradient(top, #94b1b1, #f8f9f9 10%);
  padding-top: 100px;
  margin: auto;
}
.eslogan p {
  padding-top: 50px;
  padding-bottom: 100px;
}

.clientes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px;
  gap: 20px;
}
.img img {
  padding: 4px;
  background: #03363d;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
  -moz-transition: -moz-transform 0.3s ease-in-out 0.1s;
  -o-transition: -o-transform 0.3s ease-in-out 0.1s;
  box-shadow: #03363d 5px 5px 10px;
}
.img img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.servicios {
  background: -webkit-linear-gradient(top, #94b1b1, #f8f9f9);
  padding: 50px 50px;
}
.servicios h1 {
  font: bold 3em Verdana;
  text-align: center;
  color: #03363d;
  padding: 10px 10px;
}
.servicios h3 {
  font: bold 1.75em Verdana;
  text-align: center;
  color: #03363d;
  padding: 10px 10px;
}
.servicios p {
  font: normal 0.9em Verdana;
  text-align: justify;
  color: #03363d;
  padding: 10px 10px;
}
.servicios u {
  font: normal 0.9em Verdana;
  text-align: justify;
  color: #03363d;
  padding: 10px 10px;
}
.servicios ul li {
  font: normal 0.9em Verdana;
  text-align: justify;
  color: #03363d;
  padding: 10px 10px;
}

.items li {
  font: normal 0.9em Verdana;
}

.table__container table, .table__mobile table, .servicios__conteos table {
  font: normal 1em Arial;
  color: #03363d;
  text-align: center;
  background-color: #FFFFFF;
  margin: auto;
  width: 90%;
}

.table__mobile {
  display: none;
}

.integridad {
  display: flex;
  flex-direction: column;
}

.img__integridad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0, 5fr 0, 5fr;
  grid-template-areas: "img1 img2" "txt1 txt2";
  justify-items: center;
  align-items: center;
}
.img__integridad p {
  font: oblique verdana, sans-serif;
  color: black;
}

.img1, .txt3, .img4, .img3, .txt2, .txt1, .img2 {
  grid-area: img1;
  display: flex;
  justify-content: center;
}

.img2 {
  grid-area: img2;
}

.txt1 {
  grid-area: txt1;
}

.txt2 {
  grid-area: txt2;
}

.imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  padding: 10px;
}
.imgs p {
  font: oblique verdana, sans-serif;
  color: black;
}

.img__conteos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img3" "img4";
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
  padding: 15px;
}
.img__conteos figure {
  display: flex;
  justify-content: center;
}
.img__conteos p {
  font: oblique verdana, sans-serif;
  color: black;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.txt3 {
  grid-area: txt3;
  font: oblique verdana, sans-serif;
  color: black;
}

.sub-servicios, .sub-servicios-a, .sub-servicios-b {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sub-servicios p, .sub-servicios-a p, .sub-servicios-b p {
  width: 50%;
  font-family: 2em;
}

.sub-servicios-b ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios__conteos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calificacion {
  width: 100%;
  display: block;
  color: #03363d;
}

footer {
  clear: both;
  background-color: #03363d;
  background: -webkit-linear-gradient(top, #f8f9f9, #03363d 15%);
  color: white;
  padding-top: 40px;
}

.final-pag1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.tecno {
  font: normal 12px Arial;
  text-align: left;
  width: 33%;
}
.tecno h2 {
  text-align: center;
}
.tecno p {
  padding: 20px 20px;
}

.cumplimiento {
  font: normal 12px Arial;
  text-align: left;
  border: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cumplimiento h2 {
  text-align: center;
}

/*GRID*/
.cumplir {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0, 5fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  grid-template-areas: "iso anmat" "iso__img anmat__img" "eu eu" "eu__img eu__img";
}

.iso, .eu, .anmat {
  grid-area: iso;
  font: bold 15px Arial;
  display: flex;
  justify-content: center;
}

.anmat {
  grid-area: anmat;
}

.eu {
  grid-area: eu;
}

.iso__img {
  grid-area: iso__img;
  display: flex;
  justify-content: center;
}

.anmat__img {
  grid-area: anmat__img;
  display: flex;
  justify-content: center;
}

.eu__img {
  grid-area: eu__img;
  display: flex;
  justify-content: center;
}

.contacto ul, .contacto li {
  font: normal 12px Arial;
  text-align: left;
  border: 5px;
  color: white;
}
.contacto ul li, .contacto li li {
  color: white;
  list-style-type: none;
  padding: 10px 10px;
}
.contacto h2 {
  text-align: center;
}

.localizacion {
  height: 1200px;
}

.final-pag2 {
  background-color: #03363d;
  color: white;
  font: normal 0.875em Arial;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*MIXINS*/
/*INDEX*/
@media screen and (max-width: 590px) {
  .table__container {
    display: none;
  }
  .table__mobile {
    display: block;
    justify-content: center;
  }
  .table__container table, .table__mobile table, .servicios__conteos table {
    font: normal 1em Arial;
  }
  .subir__arriba {
    width: 20px;
    height: 20px;
    font-size: 15px;
    bottom: 5%;
    right: 5%;
  }
}
@media screen and (max-width: 590px) {
  header {
    flex-direction: column;
  }
  .logo-visto {
    display: none;
  }
  .logo-oculto {
    display: none;
    padding-top: 15px;
  }
  .menu_hambur {
    display: block;
  }
  nav {
    display: none;
    justify-content: space-around;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    font-size: 10px;
  }
  .eslogan {
    font: normal 0.9em Verdana;
    padding-top: 50px;
  }
  .eslogan p {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .servicios h1 {
    font-size: 1.5em;
  }
  .servicios h3 {
    font-size: 1.1em;
  }
  .table__container {
    display: none;
  }
  .table__mobile {
    display: block;
    justify-content: center;
  }
  .final-pag1 {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .tecno {
    text-align: center;
    width: 100%;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .contacto ul li {
    text-align: center;
  }
  .final-pag2 {
    justify-content: space-around;
  }
  /*QUIENES SOMOS*/
  main {
    overflow-x: auto;
  }
  .sub-servicios, .sub-servicios-a, .sub-servicios-b {
    flex-direction: column;
    gap: 30px;
    padding-top: 15px;
  }
  .sub-servicios p, .sub-servicios-a p, .sub-servicios-b p {
    width: 100%;
  }
  .sub-servicios-a {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .servicios h3 {
    padding-top: 40px;
  }
  .sub-servicios-b ul li {
    padding: 5px;
  }
  /*NUESTROS SERVICIOS*/
  .img__integridad {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0, 5fr);
    grid-template-areas: "img1" "txt1" "img2" "txt2";
    justify-items: center;
    align-items: center;
  }
  /*PRINCIPALES CLIENTES*/
  .clientes {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  /*CLIENTES*/ /*ES CONTACTOS*/
  .contactos {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .contactos h3 {
    padding-top: 0;
  }
  .localizacion {
    width: 95%;
    height: 90%;
  }
}

/*# sourceMappingURL=estilos-copia.css.map */
