*{
    margin: 0px;
    padding: 0;

}

header{
    @include position(flex,space-evenly);
    background-color: map-get($estilos, celeste_claro);
    flex-direction: row;
    align-items: center;
    position: sticky;
    height: 10%;
    h1{
        font:nth($font , 1);
        margin: 0;
        padding: 25px 0 25px 0;
        color: map-get($estilos, verde_claro);
        text-align: center;
    }
}

.nuestros-servicios{
    font:nth($font , 1);
	margin:0px;
	padding:25px 0px 25px 0px;
	color:map-get($estilos, verde_oscuro);
    text-align: center;
}

.logo-oculto{
    display: none;
}

.logo-visto{
    padding-top: 15px;
}

nav{
    background-color: map-get($estilos, celeste_claro);
    padding-top: 15px;
    ul{
        @include position(flex,space-around);
        flex-direction: row;
        flex-wrap: wrap;
        li{
            list-style-type: none;
            background-color: map-get($estilos, celeste_claro);
            color: map-get($estilos, verde_oscuro);
            font: nth($font, 2);
            position: relative;
            padding: 10px 10px;
            a{
                text-decoration: none;
                color: map-get($estilos, verde_oscuro);
                &::before{
                    display: block;
                    content:'';
                    width: 0%;
                    background: map-get($estilos, verde_oscuro);
                    height: 5px;
                    top: 0;
                    position: absolute;
                    transition: width 1s;
                }
                &:hover::before{
                    width: 100%;
                }
            }
        }
    }
}

.menu_hambur{
    display: none;
    nav{
        list-style-type: none;
        background-color: map-get($estilos, celeste_claro);
        color: map-get($estilos, verde_oscuro);
        font: nth($font, 2);
        position: relative;
    }
}

.container-fluid{
    gap:15px;
}

#subir__arriba{
    width: 45px;
    height: 45px;
    background: map-get($estilos, celeste_oscuro);
    color: white;
    border-radius: 50%;
    @include position(flex,center);
    align-items: center;
    font-size: 30px;
    position: fixed;
    cursor: pointer;
    display: none;
    bottom: 1%;
    right: 1%;
}

html{
    scroll-behavior: smooth;
}

#subir__arriba:hover{
    background: rgb(0,26,36);
    background: linear-gradient(50deg, rgba(0,26,36,1) 0%, rgba(9,47,121,0.19931722689075626) 28%, rgba(0,212,255,1) 100%);
    color: map-get($estilos, blanco);
}

.eslogan{
    font: nth($font, 3);
    color: map-get($estilos, verde_oscuro);
    text-align: center;
    background-color: nth($colores, 5);
    background: -webkit-linear-gradient(top, map-get($estilos, celeste_oscuro), map-get($estilos, celeste_claro) 10%);
    padding-top: 100px;
    margin: auto;
    p{
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

.clientes{
    @include position(flex,space-around);
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.img{
    @include position(flex,space-around);
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
    gap: 20px;
    img{
        padding:4px;
        background:map-get($estilos, verde_oscuro);
        border-radius:20px;
        -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
        -moz-transition:-moz-transform 0.3s ease-in-out 0.1s;
        -o-transition:-o-transform 0.3s ease-in-out 0.1s;
        box-shadow:map-get($estilos, verde_oscuro) 5px 5px 10px;
        &:hover{
            -webkit-transform:scale(1.2);
            -moz-transform:scale(1.2);
            -o-transform: scale(1.2);
        }
    }
}

.servicios{
    background: -webkit-linear-gradient(top, map-get($estilos, celeste_oscuro), map-get($estilos, celeste_claro) );
    padding: 50px 50px;
    h1{
        font: nth($font, 4);   
        text-align: center;
        color: map-get($estilos, verde_oscuro);
        padding: 10px 10px;

    }
    h2{
        font: nth($font, 11);   
        text-align: center;
        color: map-get($estilos, verde_oscuro);
        padding: 10px 10px;

    }
    h3{
        font: nth($font, 11);   
        text-align: center;
        color: map-get($estilos, verde_oscuro);
        padding: 10px 10px;

    }
    p{
        font: nth($font, 9);
        text-align: justify;
        color: map-get($estilos, verde_oscuro);
        padding: 10px 10px;
    }
    u{
        font: nth($font, 9);
        text-align: justify;
        color: map-get($estilos, verde_oscuro);
        padding: 10px 10px;
    }
    ul li{
        font: nth($font, 9);
        text-align: justify;
        color: map-get($estilos, verde_oscuro);
        padding: 10px 10px;
    }
}

.items li{
    font: nth($font, 9);
}


.table__container table, .table__mobile table, .servicios__conteos table{
    font: nth($font, 5);
    color: map-get($estilos, verde_oscuro);
    text-align: center;
    background-color: nth($colores, 5);
    margin: auto;
    width: 90%;
    border-style: solid;
    border-color: nth($colores, 7);
    border-width: medium;
}

.table__mobile{
    display: none;
}

.integridad{
    display: flex;
    flex-direction: column;
}

.img__integridad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,5fr 0,5fr;
    grid-template-areas: "img1 img2" "txt1 txt2";
    justify-items: center;
    align-items: center;
    p{
        font: oblique verdana, sans-serif;
        color:map-get($estilos, negro);
    }
}

.img1{
    grid-area: img1;
    display: flex;
    justify-content: center;
}

.img2{
    @extend .img1;
    grid-area: img2;
}

.txt1{
    @extend .img1;
    grid-area: txt1;
}

.txt2{
    @extend .img1; 
    grid-area: txt2;
}

.imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    padding: 10px;
    p{
        font: oblique verdana, sans-serif;
        color:map-get($estilos, negro);
    }
}

.img__conteos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img3" "img4";
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    justify-items: center;
    align-items: center;
    padding: 15px;
    figure{
        @include position(flex,center);
    }
    p{
        font: oblique verdana, sans-serif;
        color:map-get($estilos, negro);
    }
}

.img3{
    @extend .img1;
    grid-area: img3;
}

.img4{
    @extend .img1;
    grid-area: img4;
}

.txt3{
    @extend .img1;
    grid-area: txt3;
    font: oblique verdana, sans-serif;
    color:map-get($estilos, negro);
}

.sub-servicios,.sub-servicios-a,.sub-servicios-b{
    @include position(flex,space-around);
    align-items: center;
    p{
        width: 50%;
        font-family: 2em;
    }
}

.sub-servicios-b ul li{
    @include position(flex,center);
    align-items: center;
}

.servicios__conteos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.calificacion{
    width: 100%;
    display: block;
    color:map-get($estilos, verde_oscuro);
}

footer{
    clear: both;
    background-color: map-get($estilos, verde_oscuro);
    background: -webkit-linear-gradient(top, map-get($estilos, celeste_claro), map-get($estilos, verde_oscuro) 15%);
    color: map-get($estilos, blanco);
    padding-top: 40px;
}

.final-pag1{
    @include position(flex,space-around);
    flex-direction: row;
    flex-wrap: wrap;
}

.tecno{ 
    font: nth($font, 6);
    text-align: left; 
    width: 33%;
    justify-content: center;
    h2{
        text-align: center;
    }
    p{
        padding: 20px 20px;
    }
    .logo-visto{
        justify-content: center;
        padding-top: 10%;
        padding-left: 25%;
    }
}

.cumplimiento{
    font: nth($font, 6);
    text-align: left; 
    border: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    h2{
        text-align: center;
    }
}

/*GRID*/

.cumplir{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,5fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    grid-template-areas: 
        "iso anmat"
        "iso__img anmat__img"
        "eu eu"
        "eu__img eu__img";
}

.iso{
    grid-area: iso;
    font: nth($font, 7);
    @include position(flex,center);
}
.anmat{
    @extend .iso;
    grid-area: anmat;
}
.eu{
    @extend .iso;
    grid-area: eu;
}
.iso__img{
    grid-area: iso__img;
    @include position(flex,center);
}
.anmat__img{
    grid-area: anmat__img;
    @include position(flex,center);
}
.eu__img{
    grid-area: eu__img;
    @include position(flex,center);
}

.contacto{
    ul, li{
        font: nth($font, 6);
        text-align: left; 
        border: 5px;
        color: map-get($estilos, blanco);
        li{
            color: map-get($estilos, blanco);
            list-style-type: none;
            padding: 10px 10px;
        }
    }
    h2{
        text-align: center;
    }
}

.contactos{
    justify-content: center;
    .localizacion{
        padding: 10px 10px;
        text-align: center; 
    }
}

.final-pag2{
    background-color: map-get($estilos, verde_oscuro);
    color:map-get($estilos, blanco);
    font: nth($font, 8);
    @include position(flex,center);
    align-items: center;
}